<div class='rowOne'>
    <h1>{{ title }}</h1>
</div>

<div class='rowTwo'>
    <div class='mapContainer'>
        <app-map
            (countryHover)="onCountryHoveredName($event)"
        ></app-map>
    </div>

    <div class='tableContainer'>
        <h4>Country Data</h4>
        <!--

        The whole thing basically works like this:
            You mouse over a country on the map. This triggers various emitters and an API call. 
            The API call retrieves data from the world bank based upon information provided by mouse events. 
            This API data gets passed through app component methods.
            The data is processed and assigned to variables via app component methods.
            Which are in turn passed to app-table so that it can all be displayed.
            This is the final stop of all that calling, passing, and displaying, which is why these comments are here. 
        -->
        <app-table
            [tableName]='tableName'
            [tableCapital]='tableCapital'
            [tableRegion]='tableRegion'
            [tableIncome]='tableIncome'
            [tableLong]='tableLong'
            [tableLat]='tableLat'
        ></app-table>
    </div>
</div>