<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{ tableName }}</td>
        </tr>
        <tr>
            <td>Capital</td>
            <td>{{ tableCapital }}</td>
        </tr>
        <tr>
            <td>Region</td>
            <td>{{ tableRegion }}</td>
        </tr>
        <tr>
            <td>Income Level</td>
            <td>{{ tableIncome }}</td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td>{{ tableLong }}</td>
        </tr>
        <tr>
            <td>Latitude</td>
            <td>{{ tableLat }}</td>
        </tr>
    </tbody>
</table>